/* temp */
#wpadminbar {display: none;}

/* main fuctions and main variables */
    @mixin prefixes($property,$value){
        #{-webkit- + $property}:$value;
        #{-moz- + $property}:$value;
        #{-ms- + $property}:$value;
        #{-o- + $property}:$value;
        #{$property}:$value;
    }
    /* flex box styling */
    .display-flex {
        @include prefixes(display,flex);

        &.justify-content-center {
            @include prefixes(justify-content, center);
        }
    
        &.justify-content-space-between {
            @include prefixes(justify-content, space-between);
        }
    
        &.align-items-center {
            @include prefixes(align-items, center);
        }
    
        &.align-items-flex-end {
            @include prefixes(align-items, flex-end);
        }

        &.justify-content-flex-end{
            @include prefixes(justify-content, flex-end);
        }

        &.flex-wrap-wrap{
            @include prefixes(flex-wrap, wrap);
        }
    }

/* general selectors */
* {
    margin:0;
    padding:0;
    @include prefixes(box-sizing,border-box);
    outline: none;
}

body {
    font-family: 'roboto' , 'sans-serif';
    line-height: 24px;
}

img{
    display: block;
}

.text-center {
    text-align:center
}

/*container*/
.container {
    width: 95%;
    margin:0 auto
}

@media (min-width:1200px){
    .container {
        width:1140px
    }
}

/*----------------main theme----------------*/
$main-color:#ff0022;

@mixin main-color($property){
    #{$property}:$main-color
}

@mixin second-color($property){
    #{property}:#444756
}

@mixin btn {
    color: #FFFFFF;
    padding: 16px 48px;
    font-weight: 900;
    border: 0;
    border-radius: 100px;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    @include main-color(background-color);
    cursor: pointer;
}

section.titled {
    padding:80px 0;

    &.no-padding {
        padding:0
    }

    h1 {
        margin: 0px 0px 65px 0px;
        font-size: 50px;
        line-height: 55px;
        text-transform: capitalize;
    }
}


/* header */
header {
    /*background: #444753;*/
    position: fixed;
    z-index: 9999;
    top: 0;
    /*box-shadow: 0 3px 3px rgba(0,0,0,0.05);*/
    width:100%;
    /*padding:5px 0;*/
    padding:25px 0;
    @include prefixes(transition-duration, 300ms);

    /*header when scroll add "active" class*/
    &.active {
        background: #444756;
        box-shadow: 0 3px 3px rgba(0,0,0,0.05);
        padding:5px 0;
    }

    img {
        height:65px
    }
    li a {
        display: inline-block;
        padding: 0 15px;
        font-size: 14px;
        letter-spacing: 1px;
        color: #fff;
        margin: 0;
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;
        @include prefixes(transition,300ms);
    }
    ul {
        list-style:none;
        @include prefixes(display, flex);
    }
    li.current_page_item a {
        @include main-color(color)
    }
    .fa-times {
        display:none
    }

    @media (max-width:992px){
        #responsive-navbar {
            position: fixed;
            right: -320px;
            background-color: #2c2c2c;
            height: 100vh;
            top: 0;
            padding: 30px;
            width:320px;
            @include prefixes(transition,300ms ease);
        }

        #responsive-navbar.active {
            right:0
        }

        #responsive-navbar.active {
            right:0
        }

        .fa-times {
            display: block;
            color: #fff;
            border: 2px solid #fff;
            width: 25px;
            height: 25px;
            @include prefixes(display, flex);
            @include prefixes(justify-content, center);
            @include prefixes(align-items, center);
            border-radius: 50%;
            cursor: pointer;
            &:focus , &:hover {
                @include main-color(color)
            }
        }

        .fa-bars {
            color:#fff;
            cursor: pointer;
        }

        ul {
            display:block
        }

        li {
            position: relative;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            overflow: hidden;
            a {
                padding: 10px 20px;
                font-size: 14px;
                text-transform: uppercase;
                color: #fff;
                font-weight: 500;
                line-height: 28px;
                width:100%;
    
                &:before {
                    font-family: FontAwesome;
                    content: "\f105";
                    margin-right: 8px;
                }

                &:focus, &:hover {
                    background-color: rgba(0,0,0,0.15);
                }
            }
        }
    }

    @media (min-width:992px) {
        li a:hover , li a:focus {
            @include main-color(color)
        }

        .fa-bars {
            display: none;
        }
    }
}

#banner {
    height:50vh;
    position: relative;
    background-size: cover;

    h1 , h2 {
        color: #FFFFFF;
        line-height: 1;
        font-weight: 900;
    }

    h1 {
        font-size: 120px;
        margin-top: 10px;
    }

    h2 {
        font-size: 22px;
        letter-spacing: 12px;
        text-transform: uppercase;
    }
}

.btn {
    @include btn;
}

/* Home template */
    /* slick slider */
    #intro-slider {

        height:100vh;
        overflow: hidden;

        .slick-track {
            height:100vh
        }

        .slick-slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-position: center;
            background-size: cover;
            @include prefixes(display,flex );
            @include prefixes(justify-content,center );
            @include prefixes(align-items,center );

            h2 {
                letter-spacing: 12px;
                font-weight: 900;
                font-size: 22px;
                color: #ff0000;
                line-height: 36px;
                margin-top: 0;
                text-transform: uppercase;
            }

            .title {
                font-weight: 900;
                font-size: 100px;
                line-height: 100px;
                margin: 0px 0px 85px 0px;
                color:#fff;
                margin-bottom:100px
            }

        }
        
        .slick-prev, .slick-next {
            width:auto;
            height:auto;
            z-index:5;
            height: 100vh;
            top: calc(50vh + 57px);

            &:before {
                font-family: FontAwesome;
                font-size: 34px;
                color:#fff;
            }

            &:hover, &:focus {
                &:before {
                    @include main-color(color);
                    @include prefixes(transition,300ms );  
                }

            }
        }

        .slick-next {
            right:60px!important;

            &:before {
                content:'\f054';
            }
        }
        
        .slick-prev {
            left:60px!important;

            &:before {
                content:'\f053';
            }
        }
    }

    #services-grid {
        @include prefixes(display,grid );
        @include prefixes(grid-template-columns,repeat(3,1fr) );
        @include prefixes(grid-gap, 30px );

        @media(max-width:768px){
            & {

                    @include prefixes(display,grid );
                    @include prefixes(grid-template-columns,repeat(1,1fr) );
                    @include prefixes(grid-gap, 30px );
            }
        }

        & > div {
            padding: 65px 40px 55px 45px;

            h2 {
                margin: 50px 0 28px 0;
                font-size: 30px;
                line-height: 30px;
                font-weight: 900;
            }

            p , h2 {
                color:#fff;
            }
        }
    }

    #choice {
        & > div {
            @include prefixes(display,grid );
            @include prefixes(grid-template-columns,repeat(2,1fr) );
            @include prefixes(grid-gap, 30px );
            
            @media(max-width:768px){
                & {
                    @include prefixes(display,grid );
                    @include prefixes(grid-template-columns,repeat(1,1fr) );
                    @include prefixes(grid-gap, 30px );
                }
            }
        }

        #choice-grid {
            @include prefixes(display,grid );
            @include prefixes(grid-template-columns,repeat(2,1fr) );
            @include prefixes(grid-gap, 30px );

            @media(max-width:768px){
                & {
                    @include prefixes(display,grid );
                    @include prefixes(grid-template-columns,repeat(1,1fr) );
                    @include prefixes(grid-gap, 30px );
                }
            }

            h3 , p {
                color: #7C7E88;
            }

            h3 {
                font-size: 16px;
                font-weight: 900;
            }

            p {
                margin: 0 0 10px;
            }
        }
        #choice-img {
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @keyframes overlay-in {
        from {background-position-x: 0px;}
        to {background-position-x: -50px;}
    }
    
    @keyframes overlay-out {
        from {background-position-x: -50px;}
        to {background-position-x: 0px;}
    }

    @keyframes overlay-opacity-in {
        from {background: rgba(0, 0, 0, 0.28);}
        to {background:transparent}
    }
    
    @keyframes overlay-opacity-out {
        from {background:transparent}
        to {background: rgba(0, 0, 0, 0.28);}
    }
    
    #strengths {

        #strengths-grid {
            @include prefixes(display,grid );
            @include prefixes(grid-template-columns,repeat(1,1fr) );
            @include prefixes(grid-gap, 10px );

            & > div {
                height:300px;
                position: relative;
                
                background-repeat: no-repeat;
                background-size: calc( 100% + 50px );
                background-position: center center;
                @include prefixes(animation-name, overlay-out );
                @include prefixes(animation-duration, 350ms );
                @include prefixes(animation-fill-mode, forwards);
                &:hover , &:focus {
                    background-position-x: -50px;
                    @include prefixes(animation-name, overlay-in );
                    @include prefixes(animation-duration, 350ms );
                    @include prefixes(animation-fill-mode, forwards);

                    .overlay {
                        @include prefixes(animation-name, overlay-opacity-in );
                        @include prefixes(animation-duration, 350ms );
                        @include prefixes(animation-fill-mode, forwards);
                    }

                    h2 , p {
                        @include prefixes(transform, translateX(-15px));
                    }
                }

                .overlay {
                    @include prefixes(animation-name, overlay-opacity-out );
                    @include prefixes(animation-duration, 350ms );
                    @include prefixes(animation-fill-mode, forwards);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height:100%;
                    padding: 35px;

                    h2 , p {
                        font-size: 23px;
                        margin: 0px 0px 15px 0px;
                        line-height: 20px;
                        color:#fff;
                        @include prefixes(transition-duration, 350ms );
                    }

                    h2 {
                        font-weight: 700;
                    }

                    p {
                        font-weight:400;
                        line-height: normal;
                    }
                }
            }
        }
    }

    #what-to-do {
        #what-to-do-grid {
            @include prefixes(display,grid );
            @include prefixes(grid-template-columns,repeat(3,1fr) );
            @include prefixes(grid-gap, 35px );

            @media (max-width:768px){
                & {
                    @include prefixes(grid-template-columns,repeat(1,1fr) );
                }
            }

            i {
                margin-right:15px;
                font-size: 20px;
            }

            h2 {
                color: #7C7E88;
                font-weight: 900;
                font-size: 16px;
                margin-bottom:5px;
            }

            p {
                font-size: 16px;
                font-weight: normal;
                color: rgba(68, 71, 86, .7);
                line-height: 24px;
            }
        }
    }

    #partners {
        .container {
            max-width: 816px;

            @media (max-width:996px){
                & {
                    max-width: 623px;
                }
            }

            @media (max-width:700px){
                max-width: 424px;
            }
        }
        .slick-slide {
            @include prefixes(display,flex );
            @include prefixes(justify-content,center );
        }
    }

/* About Template */
#about {
    h1 {
        margin-bottom: 15px;
        color:#444756
    }
    h2 {
        letter-spacing: 4px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 16px;
        @include main-color(color)
    }
    p {
        color:rgba(68, 71, 86, 0.7);
        font-size: 14pt;
        line-height: 24px;
        margin: 0 10%;
    }
}
/*  portfolio template */

#portfolio-banner {
    height:50vh;
    background-size: cover;
    background-position: center center;
    
    .overlay {
        background-color: rgba(0, 0, 0, 0.39);
        width: 100%;
        height: 100%;    

        h1 {
            margin: 0px 0px 35px 0px;
            padding: 0px 0px 0px 0px;
            text-shadow: 0px 0px 25px #626262;
            color: #fff;
            text-transform: capitalize;
            font-size: 50px;
        }

        p {
            color: rgba(255, 255, 255, 0.91);
            font-size: 16px;
            /*margin: 0px 0px 55px 0px;*/
        }
    }
}

/*
$yellow:#FFD568;
$yellow-light:#FFF2D1;
$pink:#FF766D;
$pink-light:#FFC8C3;
$blue:#91E3FF;
$blue-light:#D8F5FF;
*/

#portfolio {
  @include prefixes(display,flex );
  background:#fff;
  width:100%;
  overflow:hidden;
  color:#ffffff99;
  .title {
    position:absolute;
    top:10px;
    left:20px;
    font-size:16px;
    font-weight:600;
    line-height: 20px;
    text-transform:capitalize;
    letter-spacing:2px;
    div {
      background:#ffffff99;
      width:20px;
      height:2px;
      margin:10px 0;
    }
  }
  .credit {
    position:absolute;
    bottom:10px;
    right:20px;
    font-family: 'Sacramento', cursive;
    a {
      color:#fff;
      text-decoration:none;
      opacity:.6;
      &:hover {
        opacity:1;
        text-decoration:underline;
      }
    }
  }
  .artboard{
    position:relative;
    margin-bottom: 20px;
  }
  .filterDivs{
    @include prefixes(display,flex );
    @include prefixes(flex-wrap,wrap );
    .filterDiv {
        width:33.33%;
        display:block;
        margin-bottom:16px;
        transition:  .5s ease-in-out 0s;
        background-size: cover;
        position: relative;
        & > div {
            background-size: cover;
            height: 100%;
            margin:8px;
        }
        .overlay {
            @include prefixes(display,flex );
            @include prefixes(justify-content,center );
            @include prefixes(align-items,center );
            background-color: #000;
            @include prefixes(transition-duration, 1000ms);
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height:100%;
            opacity: 0;
            cursor: pointer;
            text-transform: capitalize;
            &:focus , &:hover {
                opacity: 1;
                background-color: #000000b3;
                color: #fff;
            }
        }
    }
    .Branding {
      opacity:1;
    }
    .Print {
      opacity:1;
    }
    .Digital {
      opacity:1;
    }
    .hide {
      visibility:hidden;
      opacity:0;
      width:0; height:0;
      margin:0;
      
    }
  }
  
  .filters {
    position:relative;
    margin:auto;
    margin-top:10px;
    // width:100%;
    text-align:center;
    div {
      display:inline-block;
      text-transform:capitalize;
      cursor:pointer;
      margin:4px;
      color:#444756;
    }
    .active {
      @include main-color(color);
      border-bottom:1px solid;
      @include main-color(border-color);
    }
  }
}



/* Contact template */
#contact {
    #contact-grid {
        @include prefixes(display, grid);
        @include prefixes(grid-template-columns, repeat(2,1fr) );
        @include prefixes(grid-gap, 30px);

        @media(max-width:992px){
            & {
                @include prefixes(grid-template-columns, repeat(1,1fr) );
            }
        }

        & > div {
            background-color: #FAFAFD;
            padding: 50px 75px 55px 75px;
        }

        iframe {
            @include prefixes(grid-column-start, 1);
            @include prefixes(grid-column-end, -1);
            width: 100%;
            border:0;
            height:250px
        }

        h1 {
            margin-top: 0px;
            margin-bottom: 35px;
            font-size: 30px;
            line-height: 30px;
            font-weight: 900;
            color: #444756;
        }

        h2 {
            margin-top: 5px;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-weight: 900;
            @include main-color(color);
            margin-bottom: 10px;
        }

        span {
            font-size: 12pt;
            margin: 0px 0px 25px 0px;
            color: #7C7E88;
            display: block;
        }

        input , textarea {
            padding: 8px 12px;
            border-width: 0 0 2px 0;
            border-color: rgba(122, 124, 135, 0.2);
            background: none;
            padding-left: 0;
            padding-right: 0;
            font-size: 14px;
            color: #7A7C87;
            width: 100%;
            margin-bottom: 20px;
            @include prefixes(transition-duration,350ms );
            resize: none;
            font-family: 'roboto' , 'sans-serif';

            &:focus {
                border-color: $main-color
            }
        }
    }
}

/* footer */
footer {
    background-color: #2f313e;
    color: #c1c1c5;
    padding: 20px 0;

    img {
        width:160px
    }
}