@charset "UTF-8";
/* temp */
#wpadminbar {
  display: none;
}

/* main fuctions and main variables */
/* flex box styling */
.display-flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}
.display-flex.justify-content-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.display-flex.justify-content-space-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.display-flex.align-items-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.display-flex.justify-content-flex-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}

/* general selectors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "roboto", "sans-serif";
  line-height: 24px;
}

img {
  display: block;
}

.text-center {
  text-align: center;
}

/*container*/
.container {
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/*----------------main theme----------------*/
section.titled {
  padding: 80px 0;
}
section.titled.no-padding {
  padding: 0;
}
section.titled h1 {
  margin: 0px 0px 65px 0px;
  font-size: 50px;
}

/* header */
header {
  /*background: #444753;*/
  position: fixed;
  z-index: 9999;
  top: 0;
  /*box-shadow: 0 3px 3px rgba(0,0,0,0.05);*/
  width: 100%;
  /*padding:5px 0;*/
  padding: 25px 0;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  /*header when scroll add "active" class*/
}
header.active {
  background: #444756;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  padding: 5px 0;
}
header img {
  height: 65px;
}
header li a {
  display: inline-block;
  padding: 0 15px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
header ul {
  list-style: none;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}
header li.current_page_item a {
  color: #ff0022;
}
header .fa-times {
  display: none;
}
@media (max-width: 992px) {
  header #responsive-navbar {
    position: fixed;
    right: -320px;
    background-color: #2c2c2c;
    height: 100vh;
    top: 0;
    padding: 30px;
    width: 320px;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
    transition: 300ms ease;
  }
  header #responsive-navbar.active {
    right: 0;
  }
  header #responsive-navbar.active {
    right: 0;
  }
  header .fa-times {
    display: block;
    color: #fff;
    border: 2px solid #fff;
    width: 25px;
    height: 25px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  header .fa-times:focus, header .fa-times:hover {
    color: #ff0022;
  }
  header .fa-bars {
    color: #fff;
    cursor: pointer;
  }
  header ul {
    display: block;
  }
  header li {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  header li a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    line-height: 28px;
    width: 100%;
  }
  header li a:before {
    font-family: FontAwesome;
    content: "";
    margin-right: 8px;
  }
  header li a:focus, header li a:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 992px) {
  header li a:hover, header li a:focus {
    color: #ff0022;
  }
  header .fa-bars {
    display: none;
  }
}

/* Home template */
/* slick slider */
#intro-slider {
  height: 100vh;
  overflow: hidden;
}
#intro-slider .slick-track {
  height: 100vh;
}
#intro-slider .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#intro-slider .slick-slide h2 {
  letter-spacing: 12px;
  font-weight: 900;
  font-size: 22px;
  color: #ff0000;
  line-height: 36px;
  margin-top: 0;
  text-transform: uppercase;
}
#intro-slider .slick-slide div.title {
  font-weight: 900;
  font-size: 100px;
  line-height: 100px;
  margin: 0px 0px 85px 0px;
  color: #fff;
  margin-bottom: 100px;
}
#intro-slider .slick-slide .btn {
  color: #FFFFFF;
  padding: 16px 48px;
  font-weight: 900;
  border: 0;
  border-radius: 100px;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ff0022;
}
#intro-slider .slick-prev, #intro-slider .slick-next {
  width: auto;
  height: auto;
  z-index: 5;
  height: 100vh;
  top: calc(50vh + 57px);
}
#intro-slider .slick-prev:before, #intro-slider .slick-next:before {
  font-family: FontAwesome;
  font-size: 34px;
  color: #fff;
}
#intro-slider .slick-prev:hover:before, #intro-slider .slick-prev:focus:before, #intro-slider .slick-next:hover:before, #intro-slider .slick-next:focus:before {
  color: #ff0022;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
#intro-slider .slick-next {
  right: 60px !important;
}
#intro-slider .slick-next:before {
  content: "";
}
#intro-slider .slick-prev {
  left: 60px !important;
}
#intro-slider .slick-prev:before {
  content: "";
}

#services-grid {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -webkit-grid-gap: 30px;
  -moz-grid-gap: 30px;
  -ms-grid-gap: 30px;
  -o-grid-gap: 30px;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  #services-grid {
    -webkit-display: grid;
    -moz-display: grid;
    -ms-display: grid;
    -o-display: grid;
    display: grid;
    -webkit-grid-template-columns: repeat(1, 1fr);
    -moz-grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
    -o-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    -webkit-grid-gap: 30px;
    -moz-grid-gap: 30px;
    -ms-grid-gap: 30px;
    -o-grid-gap: 30px;
    grid-gap: 30px;
  }
}
#services-grid > div {
  padding: 65px 40px 55px 45px;
}
#services-grid > div h2 {
  margin: 50px 0 28px 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
}
#services-grid > div p, #services-grid > div h2 {
  color: #fff;
}

#choice > div {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(2, 1fr);
  -moz-grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
  -o-grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -webkit-grid-gap: 30px;
  -moz-grid-gap: 30px;
  -ms-grid-gap: 30px;
  -o-grid-gap: 30px;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  #choice > div {
    -webkit-display: grid;
    -moz-display: grid;
    -ms-display: grid;
    -o-display: grid;
    display: grid;
    -webkit-grid-template-columns: repeat(1, 1fr);
    -moz-grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
    -o-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    -webkit-grid-gap: 30px;
    -moz-grid-gap: 30px;
    -ms-grid-gap: 30px;
    -o-grid-gap: 30px;
    grid-gap: 30px;
  }
}
#choice #choice-grid {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(2, 1fr);
  -moz-grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
  -o-grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -webkit-grid-gap: 30px;
  -moz-grid-gap: 30px;
  -ms-grid-gap: 30px;
  -o-grid-gap: 30px;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  #choice #choice-grid {
    -webkit-display: grid;
    -moz-display: grid;
    -ms-display: grid;
    -o-display: grid;
    display: grid;
    -webkit-grid-template-columns: repeat(1, 1fr);
    -moz-grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
    -o-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    -webkit-grid-gap: 30px;
    -moz-grid-gap: 30px;
    -ms-grid-gap: 30px;
    -o-grid-gap: 30px;
    grid-gap: 30px;
  }
}
#choice #choice-grid h3, #choice #choice-grid p {
  color: #7C7E88;
}
#choice #choice-grid h3 {
  font-size: 16px;
  font-weight: 900;
}
#choice #choice-grid p {
  margin: 0 0 10px;
}
#choice img {
  width: 100%;
}

/* About Template */
/*  portfolio template */
/* Contact template */
/* footer */

/*# sourceMappingURL=style.css.map */
