@charset "UTF-8";
/* temp */
#wpadminbar {
  display: none;
}

html {
  font-size: 16px;
}

/* main fuctions and main variables */
/* flex box styling */
.display-flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}
.display-flex.justify-content-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.display-flex.justify-content-space-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.display-flex.align-items-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.display-flex.align-items-flex-end {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
.display-flex.justify-content-flex-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}
.display-flex.flex-wrap-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* general selectors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "roboto", "sans-serif";
  line-height: 24px;
}
body.image-viewing-status {
  overflow: hidden;
}

img {
  display: block;
}

.text-center {
  text-align: center;
}

/*container*/
.container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/*----------------main theme----------------*/
section.titled {
  padding: 80px 0;
}
section.titled.no-padding {
  padding: 0;
}
section.titled h1 {
  margin: 0px 0px 65px 0px;
  font-size: 2.5rem;
  line-height: 55px;
  text-transform: capitalize;
}

/* header */
header {
  /*background: #444753;*/
  position: fixed;
  z-index: 9999;
  top: 0;
  /*box-shadow: 0 3px 3px rgba(0,0,0,0.05);*/
  width: 100%;
  /*padding:5px 0;*/
  padding: 25px 0;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -ms-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  /*header when scroll add "active" class*/
}
header.active {
  background: #444756;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  padding: 5px 0;
}
header img {
  height: 65px;
}
header li a {
  display: inline-block;
  padding: 0 15px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
header ul {
  list-style: none;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}
header li.current_page_item a {
  color: #ff0022;
}
header .fa-times {
  display: none;
}
@media (max-width: 992px) {
  header img {
    height: 3rem;
  }
  header #responsive-navbar {
    position: fixed;
    right: -320px;
    background-color: #2c2c2c;
    height: 100vh;
    top: 0;
    padding: 30px;
    width: 320px;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
    transition: 300ms ease;
  }
  header #responsive-navbar.active {
    right: 0;
  }
  header #responsive-navbar.active {
    right: 0;
  }
  header .fa-times {
    display: block;
    color: #fff;
    border: 2px solid #fff;
    width: 25px;
    height: 25px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  header .fa-times:focus, header .fa-times:hover {
    color: #ff0022;
  }
  header .fa-bars {
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    margin-right: 1rem;
  }
  header ul {
    display: block;
  }
  header li {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  header li a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    line-height: 28px;
    width: 100%;
  }
  header li a:before {
    font-family: FontAwesome;
    content: "";
    margin-right: 8px;
  }
  header li a:focus, header li a:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 992px) {
  header li a:hover, header li a:focus {
    color: #ff0022;
  }
  header .fa-bars {
    display: none;
  }
}

#banner {
  height: 50vh;
  position: relative;
  background-size: cover;
}
#banner h1, #banner h2 {
  color: #FFFFFF;
  line-height: 1;
  font-weight: 900;
}
#banner h1 {
  font-size: 4rem;
  margin-top: 10px;
  text-transform: capitalize;
}
#banner h2 {
  font-size: 1rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 2.2rem;
  margin: 0 5px;
}

.btn {
  color: #FFFFFF;
  padding: 16px 48px;
  font-weight: 900;
  border: 0;
  border-radius: 100px;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ff0022;
  cursor: pointer;
}

@keyframes zooming {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}
/* Home template */
/* slick slider */
#intro-slider {
  overflow: hidden;
}
#intro-slider .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#intro-slider .slick-slide h2 {
  letter-spacing: 12px;
  font-weight: 900;
  font-size: 22px;
  color: #ff0000;
  line-height: 36px;
  margin-top: 0;
  text-transform: uppercase;
}
#intro-slider .slick-slide .title {
  font-weight: 900;
  font-size: 5rem;
  line-height: 100px;
  margin: 0px 0px 85px 0px;
  color: #fff;
  margin-bottom: 100px;
}
#intro-slider .slick-prev, #intro-slider .slick-next {
  width: auto;
  height: auto;
  z-index: 5;
  height: 100vh;
  top: calc(50vh + 57px);
}
#intro-slider .slick-prev:before, #intro-slider .slick-next:before {
  font-family: FontAwesome;
  font-size: 34px;
  color: #fff;
}
#intro-slider .slick-prev:hover:before, #intro-slider .slick-prev:focus:before, #intro-slider .slick-next:hover:before, #intro-slider .slick-next:focus:before {
  color: #ff0022;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
#intro-slider .slick-next {
  right: 60px !important;
}
#intro-slider .slick-next:before {
  content: "";
}
#intro-slider .slick-prev {
  left: 60px !important;
}
#intro-slider .slick-prev:before {
  content: "";
}

#services-grid {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -webkit-grid-gap: 30px;
  -moz-grid-gap: 30px;
  -ms-grid-gap: 30px;
  -o-grid-gap: 30px;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  #services-grid {
    -webkit-display: grid;
    -moz-display: grid;
    -ms-display: grid;
    -o-display: grid;
    display: grid;
    -webkit-grid-template-columns: repeat(1, 1fr);
    -moz-grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
    -o-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    -webkit-grid-gap: 30px;
    -moz-grid-gap: 30px;
    -ms-grid-gap: 30px;
    -o-grid-gap: 30px;
    grid-gap: 30px;
  }
}
#services-grid > div {
  padding: 65px 40px 55px 45px;
}
#services-grid > div h2 {
  margin: 50px 0 28px 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
}
#services-grid > div p, #services-grid > div h2 {
  color: #fff;
}

#choice > div {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(2, 1fr);
  -moz-grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
  -o-grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -webkit-grid-gap: 30px;
  -moz-grid-gap: 30px;
  -ms-grid-gap: 30px;
  -o-grid-gap: 30px;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  #choice > div {
    -webkit-display: grid;
    -moz-display: grid;
    -ms-display: grid;
    -o-display: grid;
    display: grid;
    -webkit-grid-template-columns: repeat(1, 1fr);
    -moz-grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
    -o-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    -webkit-grid-gap: 30px;
    -moz-grid-gap: 30px;
    -ms-grid-gap: 30px;
    -o-grid-gap: 30px;
    grid-gap: 30px;
  }
}
#choice #choice-grid {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(2, 1fr);
  -moz-grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
  -o-grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -webkit-grid-gap: 30px;
  -moz-grid-gap: 30px;
  -ms-grid-gap: 30px;
  -o-grid-gap: 30px;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  #choice #choice-grid {
    -webkit-display: grid;
    -moz-display: grid;
    -ms-display: grid;
    -o-display: grid;
    display: grid;
    -webkit-grid-template-columns: repeat(1, 1fr);
    -moz-grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
    -o-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    -webkit-grid-gap: 30px;
    -moz-grid-gap: 30px;
    -ms-grid-gap: 30px;
    -o-grid-gap: 30px;
    grid-gap: 30px;
  }
}
#choice #choice-grid h3, #choice #choice-grid p {
  color: #7C7E88;
}
#choice #choice-grid h3 {
  font-size: 16px;
  font-weight: 900;
}
#choice #choice-grid p {
  margin: 0 0 10px;
}
#choice #choice-img {
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes overlay-in {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -50px;
  }
}
@keyframes overlay-out {
  from {
    background-position-x: -50px;
  }
  to {
    background-position-x: 0px;
  }
}
@keyframes overlay-opacity-in {
  from {
    background: rgba(0, 0, 0, 0.28);
  }
  to {
    background: transparent;
  }
}
@keyframes overlay-opacity-out {
  from {
    background: transparent;
  }
  to {
    background: rgba(0, 0, 0, 0.28);
  }
}
#strengths #strengths-grid {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(1, 1fr);
  -moz-grid-template-columns: repeat(1, 1fr);
  -ms-grid-template-columns: repeat(1, 1fr);
  -o-grid-template-columns: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  -webkit-grid-gap: 10px;
  -moz-grid-gap: 10px;
  -ms-grid-gap: 10px;
  -o-grid-gap: 10px;
  grid-gap: 10px;
}
#strengths #strengths-grid > div {
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-size: calc( 100% + 50px );
  background-position: center center;
  -webkit-animation-name: overlay-out;
  -moz-animation-name: overlay-out;
  -ms-animation-name: overlay-out;
  -o-animation-name: overlay-out;
  animation-name: overlay-out;
  -webkit-animation-duration: 350ms;
  -moz-animation-duration: 350ms;
  -ms-animation-duration: 350ms;
  -o-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#strengths #strengths-grid > div:hover, #strengths #strengths-grid > div:focus {
  background-position-x: -50px;
  -webkit-animation-name: overlay-in;
  -moz-animation-name: overlay-in;
  -ms-animation-name: overlay-in;
  -o-animation-name: overlay-in;
  animation-name: overlay-in;
  -webkit-animation-duration: 350ms;
  -moz-animation-duration: 350ms;
  -ms-animation-duration: 350ms;
  -o-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#strengths #strengths-grid > div:hover .overlay, #strengths #strengths-grid > div:focus .overlay {
  -webkit-animation-name: overlay-opacity-in;
  -moz-animation-name: overlay-opacity-in;
  -ms-animation-name: overlay-opacity-in;
  -o-animation-name: overlay-opacity-in;
  animation-name: overlay-opacity-in;
  -webkit-animation-duration: 350ms;
  -moz-animation-duration: 350ms;
  -ms-animation-duration: 350ms;
  -o-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#strengths #strengths-grid > div:hover h2, #strengths #strengths-grid > div:hover p, #strengths #strengths-grid > div:focus h2, #strengths #strengths-grid > div:focus p {
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
}
#strengths #strengths-grid > div .overlay {
  -webkit-animation-name: overlay-opacity-out;
  -moz-animation-name: overlay-opacity-out;
  -ms-animation-name: overlay-opacity-out;
  -o-animation-name: overlay-opacity-out;
  animation-name: overlay-opacity-out;
  -webkit-animation-duration: 350ms;
  -moz-animation-duration: 350ms;
  -ms-animation-duration: 350ms;
  -o-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 35px;
}
#strengths #strengths-grid > div .overlay h2, #strengths #strengths-grid > div .overlay p {
  font-size: 23px;
  margin: 0px 0px 15px 0px;
  line-height: 20px;
  color: #fff;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -ms-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
}
#strengths #strengths-grid > div .overlay h2 {
  font-weight: 700;
}
#strengths #strengths-grid > div .overlay p {
  font-weight: 400;
  line-height: normal;
}

#what-to-do #what-to-do-grid {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -webkit-grid-gap: 35px;
  -moz-grid-gap: 35px;
  -ms-grid-gap: 35px;
  -o-grid-gap: 35px;
  grid-gap: 35px;
}
@media (max-width: 768px) {
  #what-to-do #what-to-do-grid {
    -webkit-grid-template-columns: repeat(1, 1fr);
    -moz-grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
    -o-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
#what-to-do #what-to-do-grid i {
  margin-right: 15px;
  font-size: 20px;
}
#what-to-do #what-to-do-grid h2 {
  color: #7C7E88;
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 5px;
}
#what-to-do #what-to-do-grid p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(68, 71, 86, 0.7);
  line-height: 24px;
}

#partners .container {
  max-width: 816px;
}
@media (max-width: 996px) {
  #partners .container {
    max-width: 623px;
  }
}
@media (max-width: 700px) {
  #partners .container {
    max-width: 424px;
  }
}
#partners .slick-slide {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}

/* About Template */
#about h1 {
  margin-bottom: 15px;
  color: #444756;
}
#about h2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  color: #ff0022;
}
#about p {
  color: rgba(68, 71, 86, 0.7);
  font-size: 14pt;
  line-height: 24px;
  margin: 0 10%;
}

/*  portfolio template */
#portfolio-banner {
  height: 50vh;
  background-size: cover;
  background-position: center center;
}
#portfolio-banner .overlay {
  background-color: rgba(0, 0, 0, 0.39);
  width: 100%;
  height: 100%;
}
#portfolio-banner .overlay h1 {
  margin: 0px 0px 35px 0px;
  padding: 0px 0px 0px 0px;
  text-shadow: 0px 0px 25px #626262;
  color: #fff;
  text-transform: capitalize;
  font-size: 50px;
}
#portfolio-banner .overlay p {
  color: rgba(255, 255, 255, 0.91);
  font-size: 16px;
  /*margin: 0px 0px 55px 0px;*/
}

#image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #00000094;
  display: none;
  width: 100%;
}
#image-viewer #image-container-wrapper {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  height: 100vh;
}
#image-viewer #image-container-wrapper .image-container {
  position: relative;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#image-viewer #image-container-wrapper .image-container #image-viewed {
  height: 90vh;
  width: auto;
}
#image-viewer #image-container-wrapper .image-container .close-icon {
  width: 26px;
  position: absolute;
  top: -13px;
  right: -13px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

/*
$yellow:#FFD568;
$yellow-light:#FFF2D1;
$pink:#FF766D;
$pink-light:#FFC8C3;
$blue:#91E3FF;
$blue-light:#D8F5FF;
*/
#portfolio .cra.filter {
  margin-bottom: 10px;
}
#portfolio .filter {
  margin: 30px 0 10px;
}
#portfolio .filter a {
  display: inline-block;
  padding: 10px;
  border: 2px solid #333;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}
#portfolio .boxes {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -webkit-grid-gap: 8px;
  -moz-grid-gap: 8px;
  -ms-grid-gap: 8px;
  -o-grid-gap: 8px;
  grid-gap: 8px;
}
@media (max-width: 768px) {
  #portfolio .boxes {
    -webkit-grid-template-columns: repeat(2, 1fr);
    -moz-grid-template-columns: repeat(2, 1fr);
    -ms-grid-template-columns: repeat(2, 1fr);
    -o-grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 250px) {
  #portfolio .boxes {
    -webkit-grid-template-columns: repeat(1, 1fr);
    -moz-grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
    -o-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
#portfolio .boxes > article {
  width: 100%;
  position: relative;
}
#portfolio .boxes > article > a {
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
#portfolio .boxes > article > a img {
  width: 100%;
}
@media (min-width: 768px) {
  #portfolio .boxes > article {
    height: 250px;
  }
}
@media (max-width: 768px) {
  #portfolio .boxes > article {
    height: 235px;
  }
}
@media (max-width: 556px) {
  #portfolio .boxes > article {
    height: 175px;
  }
}
@media (max-width: 500px) {
  #portfolio .boxes > article {
    height: 137px;
  }
}
@media (max-width: 400px) {
  #portfolio .boxes > article {
    height: 100px;
  }
}
#portfolio .boxes > article .overlay {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  background-color: #000;
  -webkit-transition-duration: 1000ms;
  -moz-transition-duration: 1000ms;
  -ms-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  text-transform: capitalize;
}
#portfolio .boxes > article .overlay span {
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
}
@media (max-width: 556px) {
  #portfolio .boxes > article .overlay span {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
@media (max-width: 350px) {
  #portfolio .boxes > article .overlay span {
    font-size: 1rem;
  }
}
#portfolio .boxes > article .overlay:focus, #portfolio .boxes > article .overlay:hover {
  opacity: 1;
  background-color: #0000005e;
  color: #fff;
}
#portfolio .is-animated {
  animation: 0.6s zoom-in;
  -webkit-animation: 0.6s zoom-in;
  -moz-animation: 0.6s zoom-in;
  -ms-animation: 0.6s zoom-in;
  -o-animation: 0.6s zoom-in;
  animation: 0.6s zoom-in;
  will-change: transform;
}
@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    transition: ease-in-out;
  }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    transition: ease-in-out;
  }
}
#portfolio .filter {
  position: relative;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
#portfolio .filter div {
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
  margin: 4px;
  color: #444756;
}
#portfolio .filter .active {
  color: #ff0022;
  border-bottom: 1px solid;
  border-color: #ff0022;
}

/* Contact template */
#contact #contact-grid {
  -webkit-display: grid;
  -moz-display: grid;
  -ms-display: grid;
  -o-display: grid;
  display: grid;
  -webkit-grid-template-columns: repeat(2, 1fr);
  -moz-grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
  -o-grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -webkit-grid-gap: 30px;
  -moz-grid-gap: 30px;
  -ms-grid-gap: 30px;
  -o-grid-gap: 30px;
  grid-gap: 30px;
}
@media (max-width: 992px) {
  #contact #contact-grid {
    -webkit-grid-template-columns: repeat(1, 1fr);
    -moz-grid-template-columns: repeat(1, 1fr);
    -ms-grid-template-columns: repeat(1, 1fr);
    -o-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
#contact #contact-grid > div {
  background-color: #FAFAFD;
  padding: 50px 75px 55px 75px;
}
#contact #contact-grid iframe {
  -webkit-grid-column-start: 1;
  -moz-grid-column-start: 1;
  -ms-grid-column-start: 1;
  -o-grid-column-start: 1;
  grid-column-start: 1;
  -webkit-grid-column-end: -1;
  -moz-grid-column-end: -1;
  -ms-grid-column-end: -1;
  -o-grid-column-end: -1;
  grid-column-end: -1;
  width: 100%;
  border: 0;
  height: 250px;
}
#contact #contact-grid h1 {
  margin-top: 0px;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  color: #444756;
}
#contact #contact-grid h2 {
  margin-top: 5px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
  color: #ff0022;
  margin-bottom: 10px;
}
#contact #contact-grid span {
  font-size: 12pt;
  margin: 0px 0px 25px 0px;
  color: #7C7E88;
  display: block;
}
#contact #contact-grid input, #contact #contact-grid textarea {
  padding: 8px 12px;
  border-width: 0 0 2px 0;
  border-color: rgba(122, 124, 135, 0.2);
  background: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  color: #7A7C87;
  width: 100%;
  margin-bottom: 20px;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -ms-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
  resize: none;
  font-family: "roboto", "sans-serif";
}
#contact #contact-grid input:focus, #contact #contact-grid textarea:focus {
  border-color: #ff0022;
}

/* footer */
footer {
  background-color: #2f313e;
  color: #c1c1c5;
  padding: 20px 0;
}
footer img {
  width: 160px;
}

@media (max-width: 768px) {
  #partners-grid {
    width: 95%;
  }

  section.titled h1 {
    text-align: center;
  }

  #banner {
    height: 50vh;
    background-position: 50%;
  }

  #image-viewer #image-container-wrapper .image-container #image-viewed {
    height: auto;
    width: 100%;
  }

  .grecaptcha-badge {
    display: none !important;
  }
}
@media (min-width: 1500px) {
  .slick-current .slick-slide {
    -webkit-animation: zooming 20s forwards linear;
    -moz-animation: zooming 20s forwards linear;
    -ms-animation: zooming 20s forwards linear;
    -o-animation: zooming 20s forwards linear;
    animation: zooming 20s forwards linear;
  }
}
@media (max-width: 556px) {
  #contact #contact-grid > div {
    padding: 50px 20px 55px 20px;
  }
}
@media (max-width: 1200px) and (max-height: 1500px) {
  #image-viewer #image-container-wrapper .image-container {
    height: auto;
    width: 85%;
  }

  #image-viewer #image-container-wrapper .image-container #image-viewed {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1100px) and (max-height: 800px) {
  #image-viewer #image-container-wrapper .image-container {
    height: auto;
    width: 55%;
  }

  #image-viewer #image-container-wrapper .image-container #image-viewed {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) and (max-height: 1100px) {
  #image-viewer #image-container-wrapper .image-container {
    height: auto;
    width: 80%;
  }

  #image-viewer #image-container-wrapper .image-container #image-viewed {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 900px) and (max-height: 400px) {
  #image-viewer #image-container-wrapper .image-container {
    height: 75vh;
    width: auto;
  }

  #image-viewer #image-container-wrapper .image-container #image-viewed {
    height: 100%;
    width: auto;
  }
}
@media (max-width: 466px) {
  .slick-slide img {
    width: 90% !important;
  }
}

/*# sourceMappingURL=style.css.map */
